<p id="notice"><%= notice %></p>

<h1>Dreams</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Lucky numbers</th>
      <th>Animal</th>
      <th>Color</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dreams.each do |dream| %>
      <tr>
        <td><%= dream.name %></td>
        <td><%= dream.description %></td>
        <td><%= dream.lucky_numbers %></td>
        <td><%= dream.animal %></td>
        <td><%= dream.color %></td>
        <td><%= link_to 'Show', dream %></td>
        <td><%= link_to 'Edit', edit_dream_path(dream) %></td>
        <td><%= link_to 'Destroy', dream, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dream', new_dream_path %>
