<%= form_for(weekly_horoscope) do |f| %>
  <% if weekly_horoscope.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(weekly_horoscope.errors.count, "error") %> prohibited this weekly_horoscope from being saved:</h2>

      <ul>
      <% weekly_horoscope.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sign_id %>
    <%= f.number_field :sign_id %>
  </div>

  <div class="field">
    <%= f.label :initial_date %>
    <%= f.date_select :initial_date %>
  </div>

  <div class="field">
    <%= f.label :final_date %>
    <%= f.date_select :final_date %>
  </div>

  <div class="field">
    <%= f.label :text %>
    <%= f.text_field :text %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
