<p id="notice"><%= notice %></p>

<h1>Weekly Horoscopes</h1>

<table>
  <thead>
    <tr>
      <th>Sign</th>
      <th>Initial date</th>
      <th>Final date</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @weekly_horoscopes.each do |weekly_horoscope| %>
      <tr>
        <td><%= weekly_horoscope.sign_id %></td>
        <td><%= weekly_horoscope.initial_date %></td>
        <td><%= weekly_horoscope.final_date %></td>
        <td><%= weekly_horoscope.text %></td>
        <td><%= link_to 'Show', weekly_horoscope %></td>
        <td><%= link_to 'Edit', edit_weekly_horoscope_path(weekly_horoscope) %></td>
        <td><%= link_to 'Destroy', weekly_horoscope, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Weekly Horoscope', new_weekly_horoscope_path %>
