<p id="notice"><%= notice %></p>

<p>
  <strong>Id sign a:</strong>
  <%= @combination.id_sign_a %>
</p>

<p>
  <strong>Id sign b:</strong>
  <%= @combination.id_sign_b %>
</p>

<p>
  <strong>Love text:</strong>
  <%= @combination.love_text %>
</p>

<p>
  <strong>Love grade:</strong>
  <%= @combination.love_grade %>
</p>

<p>
  <strong>Sex text:</strong>
  <%= @combination.sex_text %>
</p>

<p>
  <strong>Sex grade:</strong>
  <%= @combination.sex_grade %>
</p>

<p>
  <strong>Work text:</strong>
  <%= @combination.work_text %>
</p>

<p>
  <strong>Work grade:</strong>
  <%= @combination.work_grade %>
</p>

<p>
  <strong>Friendship text:</strong>
  <%= @combination.friendship_text %>
</p>

<p>
  <strong>Friendship grade:</strong>
  <%= @combination.friendship_grade %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @combination.integer %>
</p>

<%= link_to 'Edit', edit_combination_path(@combination) %> |
<%= link_to 'Back', combinations_path %>
