<%= form_for(daily_horoscope) do |f| %>
  <% if daily_horoscope.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(daily_horoscope.errors.count, "error") %> prohibited this daily_horoscope from being saved:</h2>

      <ul>
      <% daily_horoscope.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>

  <div class="field">
    <%= f.label :sign_id %>
    <%= f.number_field :sign_id %>
  </div>

  <div class="field">
    <%= f.label :day_of_the_week %>
    <%= f.text_field :day_of_the_week %>
  </div>

  <div class="field">
    <%= f.label :text %>
    <%= f.text_field :text %>
  </div>

  <div class="field">
    <%= f.label :color %>
    <%= f.text_field :color %>
  </div>

  <div class="field">
    <%= f.label :numbers %>
    <%= f.text_field :numbers %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
