<%= form_for(sign) do |f| %>
  <% if sign.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sign.errors.count, "error") %> prohibited this sign from being saved:</h2>

      <ul>
      <% sign.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sign_number %>
    <%= f.number_field :sign_number %>
  </div>

  <div class="field">
    <%= f.label :perfil_id %>
    <%= f.number_field :perfil_id %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :icon_sign_url %>
    <%= f.text_field :icon_sign_url %>
  </div>

  <div class="field">
    <%= f.label :initial_date %>
    <%= f.date_select :initial_date %>
  </div>

  <div class="field">
    <%= f.label :final_date %>
    <%= f.date_select :final_date %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
