<p id="notice"><%= notice %></p>

<h1>Signs</h1>

<table>
  <thead>
    <tr>
      <th>Sign number</th>
      <th>Perfil</th>
      <th>Name</th>
      <th>Icon sign url</th>
      <th>Initial date</th>
      <th>Final date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @signs.each do |sign| %>
      <tr>
        <td><%= sign.sign_number %></td>
        <td><%= sign.perfil_id %></td>
        <td><%= sign.name %></td>
        <td><%= sign.icon_sign_url %></td>
        <td><%= sign.initial_date %></td>
        <td><%= sign.final_date %></td>
        <td><%= link_to 'Show', sign %></td>
        <td><%= link_to 'Edit', edit_sign_path(sign) %></td>
        <td><%= link_to 'Destroy', sign, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sign', new_sign_path %>
