<p id="notice"><%= notice %></p>

<p>
  <strong>Sign number:</strong>
  <%= @sign.sign_number %>
</p>

<p>
  <strong>Perfil:</strong>
  <%= @sign.perfil_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @sign.name %>
</p>

<p>
  <strong>Icon sign url:</strong>
  <%= @sign.icon_sign_url %>
</p>

<p>
  <strong>Initial date:</strong>
  <%= @sign.initial_date %>
</p>

<p>
  <strong>Final date:</strong>
  <%= @sign.final_date %>
</p>

<%= link_to 'Edit', edit_sign_path(@sign) %> |
<%= link_to 'Back', signs_path %>
