<%= form_for(perfil) do |f| %>
  <% if perfil.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(perfil.errors.count, "error") %> prohibited this perfil from being saved:</h2>

      <ul>
      <% perfil.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sign_id %>
    <%= f.number_field :sign_id %>
  </div>

  <div class="field">
    <%= f.label :love_text %>
    <%= f.text_field :love_text %>
  </div>

  <div class="field">
    <%= f.label :sex_text %>
    <%= f.text_field :sex_text %>
  </div>

  <div class="field">
    <%= f.label :family_text %>
    <%= f.text_field :family_text %>
  </div>

  <div class="field">
    <%= f.label :work_text %>
    <%= f.text_field :work_text %>
  </div>

  <div class="field">
    <%= f.label :friendship_text %>
    <%= f.text_field :friendship_text %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
