<p id="notice"><%= notice %></p>

<h1>Perfils</h1>

<table>
  <thead>
    <tr>
      <th>Sign</th>
      <th>Love text</th>
      <th>Sex text</th>
      <th>Family text</th>
      <th>Work text</th>
      <th>Friendship text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @perfils.each do |perfil| %>
      <tr>
        <td><%= perfil.sign_id %></td>
        <td><%= perfil.love_text %></td>
        <td><%= perfil.sex_text %></td>
        <td><%= perfil.family_text %></td>
        <td><%= perfil.work_text %></td>
        <td><%= perfil.friendship_text %></td>
        <td><%= link_to 'Show', perfil %></td>
        <td><%= link_to 'Edit', edit_perfil_path(perfil) %></td>
        <td><%= link_to 'Destroy', perfil, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Perfil', new_perfil_path %>
