<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horóscopo online</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="body-margin background-color">
  <div class="star-header">
    <div class="header-border">


    <nav class="navbar navbar-default" style="margin-bottom: 30px;">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <%= image_tag("logo.png", :alt => "Logo", :class =>"logo") %>
            <span class="logo-text">
            HORÓSCOPO ONLINE
            </span>
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#">HORÓSCOPO</a></li>
            <li><a href="#">COMBINAÇÃO DE SIGNOS</a></li>
            <li><a href="#">SONHOS</a></li>
            <li><a href="#">CONHEÇA SEU SIGNO</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="row">
        <div class="aries col-lg-1 col-sm-2 col-xs-3">
          <a href="/signs/1" class="sign-icon-default"><%= image_tag("aries-icon.png", :alt => "Aries", :class =>"sign-icon") %><span>Áries</span></a>
        </div>
        <div class="touro col-lg-1 col-sm-2 col-xs-3">
          <a href="/signs/1" class="sign-icon-default"><%= image_tag("taurus-icon.png", :alt => "Touro", :class =>"sign-icon") %><span>Touro</span></a>
        </div>
        <div class="gemeos col-lg-1 col-sm-2 col-xs-3">
          <a href="/signs/1" class="sign-icon-default"><%= image_tag("gemini-icon.png", :alt => "Gemeos", :class =>"sign-icon") %><span>Gêmeos</span></a>
        </div>
        <div class="cancer col-lg-1 col-sm-2 col-xs-3">
          <a href="/signs/1" class="sign-icon-default"><%= image_tag("cancer-icon.png", :alt => "Cancer", :class =>"sign-icon") %><span>Câncer</span></a>
        </div>
        <div class="leao col-lg-1 col-sm-2 col-xs-3">
          <a href="/signs/1" class="sign-icon-default"><%= image_tag("leo-icon.png", :alt => "Leão", :class =>"sign-icon") %><span>Leão</span></a>
        </div>
        <div class="virgem col-lg-1 col-sm-2 col-xs-3">
          <a href="/signs/1" class="sign-icon-default"><%= image_tag("virgo-icon.png", :alt => "Virgem", :class =>"sign-icon") %><span>Virgem</span></a>
        </div>
        <div class="libra col-lg-1 col-sm-2 col-xs-3">
          <a href="/signs/1" class="sign-icon-default"><%= image_tag("libra-icon.png", :alt => "Libra", :class =>"sign-icon") %><span>Libra</span></a>
        </div>
        <div class="escorpiao col-lg-1 col-sm-2 col-xs-3">
          <a href="/signs/1" class="sign-icon-default"><%= image_tag("scorpion-icon.png", :alt => "Escorpião", :class =>"sign-icon") %><span>Escorpião</span></a>
        </div>
        <div class="sagitario col-lg-1 col-sm-2 col-xs-3">
          <a href="/signs/1" class="sign-icon-default"><%= image_tag("sagitarius-icon.png", :alt => "Sagitario", :class =>"sign-icon") %><span>Sagitário</span></a>
        </div>
        <div class="capricornio col-lg-1 col-sm-2 col-xs-3">
          <a href="/signs/1" class="sign-icon-default"><%= image_tag("capricorn-icon.png", :alt => "Capricornio", :class =>"sign-icon") %><span>Capricórnio</span></a>
        </div>
        <div class="aquario col-lg-1 col-sm-2 col-xs-3">
          <a href="/signs/1" class="sign-icon-default"><%= image_tag("aquarius-icon.png", :alt => "Aquario", :class =>"sign-icon") %><span>Aquário</span></a>
        </div>
        <div class="peixes col-lg-1 col-sm-2 col-xs-3">
          <a href="/signs/1" class="sign-icon-default"><%= image_tag("pisces-icon.png", :alt => "Peixes", :class =>"sign-icon") %><span>Peixes</span></a>
        </div>
    </div>
    </div>

  </div>

    <%= yield %>
  </body>
</html>
